*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins",sans-serif;
}

body{
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.box {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-size: 17px;
    align-items: center;
}
.box a {
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}
.modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(65, 63, 63, 0.7);
    transition: all 0.4s;
    /* visibility: hidden;
    opacity: 0; */
    visibility: visible;
    opacity: 1;
}
.content {
    position: absolute;
    background: white;
    width: 500px;
    padding: 2em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
} 
